.answer-choices {
  margin-top: 20px;
}

.answer-choices .button {
  background-color: #eaeaea;
  margin: 10px;
  text-transform: none;
}

.answer-choices .arabic-btn {
  font-size: 30px;
  font-family: 'Arabic';
}
