.exercise-instructions {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.5em;
}

@media (max-width: 350px) {
  .exercise-instructions {
    font-size: 1.2em;
  }
}

@media (max-width: 400px) {
  .exercise-instructions {
    font-size: 1.3em;
  }
}

@media (min-width: 500px) {
  .exercise-instructions {
    padding: 20px;
  }
}
